
.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%
}
.flex
{
  display: flex;
  justify-content: space-around;
}
#inpu{
width: 100%;
margin-top: 50px;
border: 2px solid black;
border-radius: 5px;
}
#inpux{
  padding: 1.5% ;
  border-radius: 5px;
  border: 1px solid skyblue;
  background-color: rgb(191, 232, 248);
  color: rgb(43, 39, 39);
}
#inpux:hover{
  background-color: skyblue;
 font-weight: 600;
}
input{
  background-color: white;
  border: none;
  width: 91%;
  height: 32px;
  padding: 0px 5px;
  font-size: 18px;
}
input:focus{
  outline: none;

}
button{
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: 900;

}
button:focus{
  border: none;
  outline: none;
}
.box-red {
  font-family: cursive, sans-serif;
  background-color: #d50055;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 23px #ff00669a;
  margin-top: 100px;
}
.box-blue {
  font-family: cursive, sans-serif;
  background-color: #5e00f5;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 23px #6200ff9d;
  margin-top: 100px;
}